<head>

	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Treasurer Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //custom-theme -->
    {% load static %}
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/slicebox.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome-icons -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!-- //font-awesome-icons -->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
	    rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Raleway:100i,200,200i,300,400,500,500i,600,700,700i,800,800i" rel="stylesheet">

</head>
<body>


{% if user.loai_user_id == 2 %}
	<div class="agileits_w3layouts_banner_nav">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<h1><a class="navbar-brand" href="{%url 'trangchu' %}"><i class="fa fa-mortar-board" aria-hidden="true"></i> IT school</a></h1>
			</div>


			<div class="collapse navbar-collapse navbar-right">
				<nav>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown">
								<img height="25" style="float:left; margin:auto" class="img-circle" src="/media/{{user.img}}" alt="">
								<b class="fa fa-caret-down"></b>
							</a>
							<ul class="dropdown-menu agile_short_dropdown">
								<li><a href="#">Cài đặt cá nhân</a></li>
								<li>
									<a href="#">
										<form action="" method="GET">
											<div class="tp">
												<input type="submit" class="btn" style="background-color:white" name="btnlogout" value="Đăng xuất">
											</div>
										</form>
									</a>

								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav>
					<ul class="nav navbar-nav">

						<li class="active"><a href="{%url 'index' %}" class="hvr-underline-from-center"><i class="fa fa-tachometer"></i></a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown">Quản lí <b class="fa fa-caret-down"></b></a>

							<ul class="dropdown-menu agile_short_dropdown">
								<li><a href="../khoahoc_ds/?page=1">Khóa học</a></li>
								<li><a href="../baiviet_ds/?page=1">Bài viết</a></li>
							</ul>

						</li>
					</ul>
				</nav>

			</div>
			<div class="collapse navbar-collapse navbar-right">
				<form action="" method="GET" enctype="multipart/form-data">
					<ul class="form-control panel">
						<input type="Search" name="q" class="form-inline" placeholder="{{ q }}">
						<button type="Submit" name="btntim" id="btntim" style="background-color:white" class="btn"><i class="fa fa-search"></i></button>
					</ul>
				</form>
			</div>

		</nav>

		<div class="clearfix"> </div>
	</div>


{% elif user.loai_user_id == 1 %}
	<div class="agileits_w3layouts_banner_nav">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<h1><a class="navbar-brand" href="{%url 'trangchu' %}"><i class="fa fa-mortar-board" aria-hidden="true"></i> IT school</a></h1>
			</div>


			<div class="collapse navbar-collapse navbar-right">
				<nav>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown">
								<img height="25" style="float:left; margin:auto" class="img-circle" src="/media/{{user.img}}" alt="">
								<b class="fa fa-caret-down"></b>
							</a>
							<ul class="dropdown-menu agile_short_dropdown">
								<li><a href="#">Cài đặt cá nhân</a></li>
								<li>
									<a href="#">
										<form action="" method="GET">
											<div class="tp">
												<input type="submit" class="btn" style="background-color:white" name="btnlogout" value="Đăng xuất">
											</div>
										</form>
									</a>

								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

			<!--<ul class="agile_forms">-->
				<!--<li><a class="active" href="#" data-toggle="modal" data-target="#modalDangnhap"> đăng nhập</a> </li>-->
				<!--<li><a href="#" data-toggle="modal" data-target="#modalDangki"> đăng kí</a> </li>-->
			<!--</ul>-->


			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav>
					<ul class="nav navbar-nav">

						<li class="active"><a href="{%url 'index' %}" class="hvr-underline-from-center"><i class="fa fa-tachometer"></i></a></li>
						<li><a href="{%url 'hopthu' %}" class="hvr-underline-from-center"><i class="fa fa-envelope-o"></i></a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown">Quản lí <b class="fa fa-caret-down"></b></a>

							<ul class="dropdown-menu agile_short_dropdown">
								<li><a href="../khoahoc_ds/?page=1">Khóa học</a></li>
								<li><a href="../baiviet_ds/?page=1">Bài viết</a></li>
								<li><a href="../nguoidung_ds/">Người dùng</a></li>
							</ul>

						</li>
					</ul>
				</nav>

			</div>
			<div class="collapse navbar-collapse navbar-right">
				<form action="" method="GET" enctype="multipart/form-data">
					<ul class="form-control panel">
						<input type="Search" name="q" class="form-inline" placeholder="{{ q }}">
						<button type="Submit" name="btntim" id="btntim" style="background-color:white" class="btn"><i class="fa fa-search"></i></button>
					</ul>
				</form>
			</div>

		</nav>

		<div class="clearfix"> </div>
	</div>


{% elif user.loai_user_id == 0 %}
	<div class="agileits_w3layouts_banner_nav">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<h1><a class="navbar-brand" href="{%url 'trangchu' %}"><i class="fa fa-mortar-board" aria-hidden="true"></i> IT school</a></h1>
			</div>


			<div class="collapse navbar-collapse navbar-right">
				<nav>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown">
								<img height="25" style="float:left; margin:auto" class="img-circle" src="/media/{{user.img}}" alt="">
								<b class="fa fa-caret-down"></b>
							</a>
							<ul class="dropdown-menu agile_short_dropdown">

								<li></li>
								<li><a href="#">Cài đặt cá nhân</a></li>
								<li>
									<a href="#">
										<form action="" method="GET">
											<div class="tp">
												<input type="submit" class="btn" style="background-color:white" name="btnlogout" value="Đăng xuất">
											</div>
										</form>
									</a>

								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

			<!--<ul class="agile_forms">-->
				<!--<li><a class="active" href="#" data-toggle="modal" data-target="#modalDangnhap"> đăng nhập</a> </li>-->
				<!--<li><a href="#" data-toggle="modal" data-target="#modalDangki"> đăng kí</a> </li>-->
			<!--</ul>-->


			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav>
					<ul class="nav navbar-nav">

						<li class="active"><a href="{%url 'index' %}" class="hvr-underline-from-center"><i class="fa fa-tachometer"></i></a></li>
						<li><a href="{%url 'hopthu' %}" class="hvr-underline-from-center"><i class="fa fa-envelope-o"></i></a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown">Quản lí <b class="fa fa-caret-down"></b></a>

							<ul class="dropdown-menu agile_short_dropdown">
								<li><a href="../khoahoc_ds/?page=1">Khóa học</a></li>
								<li><a href="../baiviet_ds/?page=1">Bài viết</a></li>
								<li><a href="../danhmuc_ds">Danh mục</a></li>
								<li><a href="../nguoidung_ds">Admin </a></li>
							</ul>

						</li>
					</ul>
				</nav>

			</div>
			<div class="collapse navbar-collapse navbar-right">
				<form action="" method="GET" enctype="multipart/form-data">
					<ul class="form-control panel">
						<input type="Search" name="q" class="form-inline" placeholder="{{ q }}">
						<button type="Submit" name="btntim" id="btntim" style="background-color:white" class="btn"><i class="fa fa-search"></i></button>
					</ul>
				</form>
			</div>

		</nav>

		<div class="clearfix"> </div>
	</div>


{% else %}
	<div class="agileits_w3layouts_banner_nav">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<h1><a class="navbar-brand" href="{%url 'trangchu' %}"><i class="fa fa-mortar-board" aria-hidden="true"></i> IT school</a></h1>
			</div>
			<ul class="agile_forms">
				<li><a class="active" href="#" data-toggle="modal" data-target="#modalDangnhap"> đăng nhập</a> </li>
				<!--<li><a href="#" data-toggle="modal" data-target="#modalDangki"> đăng kí</a> </li>-->
			</ul>
		</nav>
	</div>
	<div class="container">
		<h4>Để tham gia hệ thống quản lí bạn phải đăng nhập, nếu không hãy trở về trang chủ của <a href="{%url 'trangchu' %}">IT school</a></h4>
		<hr>
        <br>
        <br>
		<div>
			<div class="col-md-3"></div>
			<div class="col-md-4 agileits_banner_bottom_right">
				<div class="col-md-12">
						<div class="col-md-6">
							<div class="w3l_social_icon_gridl">
							</div>
						</div>
						<div class="col-md-6">
							</br>
							</br>
							<h4><span></span></h4>
							<div class="w3ls_banner_bottom_right_pos">
								<div class="w3l_social_icon_gridl w3_facebook">
									<i class="fa fa-bug"></i>
								</div>
							</div>
						</div>
					</div>
				<div class="col-md-12">
					<div class="col-md-6">
						<!--<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />-->
						<div class="w3l_social_icon_gridl w3_facebook">
							<a href="#">
								<i class="fa fa-rss" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					<div class="col-md-6 w3ls_banner_bottom_right">
						<!--<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />-->
						<div class="w3l_social_icon_gridl w3_facebook">
							<a href="#">
								<i class="fa fa-mobile" aria-hidden="true"></i>
							</a>
							<div class="w3ls_banner_bottom_right_pos">
									<!--<img src="{% static 'images/1.jpg' %}" alt=" " class="img-responsive" />-->
								<div class="w3l_social_icon_gridl">
									<h1>I</h1>
								</div>
							</div>
						</div>

					</div>
					<div class="col-md-12">
						<div class="col-md-6">
							<!--<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />-->
							<div class="w3l_social_icon_gridl w3_facebook">
							<a href="#">
								<i class="fa fa-tv" aria-hidden="true"></i>
							</a>
						</div>
						</div>
						<div class="col-md-6">
							</br>
							</br>
							<h4><span></span></h4>
							<div class="w3ls_banner_bottom_right_pos">
							<!--<img src="{% static 'images/1.jpg' %}" alt=" " class="img-responsive" />-->
								<div class="w3l_social_icon_gridl w3_facebook">
									<i class="fa fa-globe"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="">
								</br>
								</br>
								<h4><span></span></h4>
							</div>
						</div>
						<div class="col-md-6 w3ls_banner_bottom_right">
							<div class="">
								<!--<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />-->
								<div class="w3l_social_icon_gridl w3_facebook">
									<a href="#">
										<i class="fa fa-wrench" aria-hidden="true"></i>
									</a>
								</div>
								<div class="w3ls_banner_bottom_right_pos">
									<!--<img src="{% static 'images/1.jpg' %}" alt=" " class="img-responsive" />-->
									<div class="w3l_social_icon_gridl">
										<br><h1>T</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="col-md-6">
						<!--<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />-->
						<div class="w3l_social_icon_gridl w3_facebook">
							<a href="#">
								<i class="fa fa-mobile" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					<div class="col-md-6 w3ls_banner_bottom_right">
						<!--<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />-->
						<div class="w3l_social_icon_gridl w3_facebook">
							<a href="#">
								<i class="fa fa-wifi" aria-hidden="true"></i>
							</a>
						</div>
						<div class="w3ls_banner_bottom_right_pos">
							<!--<img src="{% static 'images/1.jpg' %}" alt=" " class="img-responsive" />-->
							<div class="w3l_social_icon_gridl w3_facebook">
							<a href="#">
								<i class="fa fa-bug" aria-hidden="true"></i>
							</a>
						</div>
						</div>
					</div>
				</div>

			</div>

			<div class="col-md-1">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h1>C</h1><br>
				<h1>H</h1><br>
				<h1><i class="fa fa-globe"></i></h1><br>
				<h1><i class="fa fa-globe"></i></h1><br>
				<h1>L</h1>
			</div>
		</div>
	</div>
{% endif %}
<hr>
{% block nd %}{%endblock%}
<div class="footer">
		<div class="container">

			<div class="agileinfo_copyright">
				<p>Hỗ trợ IT-school</p>
				<p>Facebook group: <a href="https://www.facebook.com/groups/sinhvienit.spkthy/">facebook.com/groups/sinhvienit.spkthy</a></p>
				<p>Facebook personal: <a href="https://www.facebook.com/langtucntt">facebook.com/langtucntt</a></p>
				<p>Facebook page: <a href="https://www.facebook.com/cungnhauhocweb/">facebook.com/cungnhauhocweb</a></p>
				<p><span>hotline:</span> <a>0968 747 838</a></p>
			</div>
		</div>
	</div>
<!-- Modal1 -->


	<div class="modal fade" id="modalDangki" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">
						<h3 class="agileinfo_sign">Đăng kí</h3>
						<div class="login-form">
							<form action="" method="GET" enctype="multipart/form-data">
								<input type="Text" name="txtusername" id="txtusername" placeholder="Username" required="">
								<input type="password" name="txtpassword1" id="password1" placeholder="Password" required="">
								<input type="password" name="txtpassword2" id="password2" placeholder="Confirm Password" required="">
								<input type="Text" name="txthoten" id="txtname" placeholder="Họ và tên" required="">
								<input type="submit" name="btndangki" id="btndangki" value="Đăng kí">
							</form>
						</div>
						<p><a href="#"> Click vào đăng kí, đồng ý với các điều khoản</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalDangnhap" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">
						<h3 class="agileinfo_sign">IT school</h3>
						<div class="login-form">

							<form action="" method="GET" name="frmlogin" enctype="multipart/form-data">
								<input type="Text" name="username" placeholder="username" required="">
								<input type="password" name="password" placeholder="Password" required="">
								<div class="tp">
									<input type="submit" name="btnlogin" id="btnlogin" value="Đăng nhập">
								</div>
							</form>
						</div>
						<div class="login-social-grids">
							<ul>
								<li><i class="fa fa-globe"></i></li>
								<li><i class="fa fa-bug"></i></li>
								<li><i class="fa fa-mobile"></i></li>
								<li><i class="fa fa-wifi"></i></li>
								<li><i class="fa fa-tv"></i></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


	<style>
		.hop {

	<!--height: 95%;-->
    background:#FFF;
    margin:20px auto;
}
.hop: hover{
	box-shadow: 5px 5px 5px #666;
	-moz-box-shadow: 5px 5px 5px #666;
	-webkit-box-shadow: 5px 5px 5px #666;
}
	</style>


<!-- menu -->
	<!-- js -->
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/modernizr.custom.46884.js' %}"></script>
	<!-- password-script -->
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}

	</script>
	<!-- //password-script -->
    <script src="{% static 'js/bars.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/jquery.slicebox.js' %}"></script>
	<script type="text/javascript">
		$(function () {

			var Page = (function () {

				var $navArrows = $('#nav-arrows').hide(),
					$navDots = $('#nav-dots').hide(),
					$nav = $navDots.children('span'),
					$shadow = $('#shadow').hide(),
					slicebox = $('#sb-slider').slicebox({
						onReady: function () {

							$navArrows.show();
							$navDots.show();
							$shadow.show();

						},
						onBeforeChange: function (pos) {

							$nav.removeClass('nav-dot-current');
							$nav.eq(pos).addClass('nav-dot-current');

						}
					}),

					init = function () {

						initEvents();

					},
					initEvents = function () {

						// add navigation events
						$navArrows.children(':first').on('click', function () {

							slicebox.next();
							return false;

						});

						$navArrows.children(':last').on('click', function () {

							slicebox.previous();
							return false;

						});

						$nav.each(function (i) {

							$(this).on('click', function (event) {

								var $dot = $(this);

								if (!slicebox.isActive()) {

									$nav.removeClass('nav-dot-current');
									$dot.addClass('nav-dot-current');

								}

								slicebox.jump(i + 1);
								return false;

							});

						});

					};

				return {
					init: init
				};

			})();

			Page.init();

		});
	</script>
	<!-- Stats -->
	<script src="{% static 'js/waypoints.min.js' %}"></script>
	<script src="{% static 'js/counterup.min.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$('.counter').counterUp({
				delay: 4,
				time: 2000
			});
		});
	</script>
	<!-- //Stats -->

	<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
	<!-- flexisel -->
	<script type="text/javascript">
		<!--$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 2
					}
				}
			});

		});
	</script>
	<!-- //flexisel -->
	<!-- //flexisel -->
	<!-- js for portfolio lightbox -->
	<script src="{% static 'js/jquery.chocolat.js' %}"></script>
	<!-- //menu -->
	<!-- for bootstrap working -->
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<!-- //for bootstrap working -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
<div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <style>#cfacebook{position:fixed;bottom:0px;right:100px;z-index:999999999999999;width:250px;height:auto;box-shadow:6px 6px 6px 10px rgba(0,0,0,0.2);border-top-left-radius:5px;border-top-right-radius:5px;overflow:hidden;}#cfacebook .fchat{float:left;width:100%;height:270px;overflow:hidden;display:none;background-color:#fff;}#cfacebook .fchat .fb-page{margin-top:-130px;float:left;}#cfacebook a.chat_fb{float:left;padding:0 25px;width:250px;color:#fff;text-decoration:none;height:40px;line-height:40px;text-shadow:0 1px 0 rgba(0,0,0,0.1);background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMV…8/UxBxQDQuFwlpqgBZBq6+P+unVY1GnDgwqbD2zGz5e1lBdwvGGPE6OgAAAABJRU5ErkJggg==);background-repeat:repeat-x;background-size:auto;background-position:0 0;background-color:#3a5795;border:0;border-bottom:1px solid #133783;z-index:9999999;margin-right:12px;font-size:18px;}#cfacebook a.chat_fb:hover{color:yellow;text-decoration:none;}</style>
  <script>
  jQuery(document).ready(function () {
  jQuery(".chat_fb").click(function() {
jQuery('.fchat').toggle('slow');
  });
  });
  </script>
  <div id="cfacebook">
  <a href="javascript:;" class="chat_fb" onclick="return:false;"><i class="fa fa-facebook-square"></i> Chat</a>
  <div class="fchat">
  <div class="fb-page" data-tabs="messages" data-href="https://www.facebook.com/cungnhauhocweb" data-width="250" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
  </div>
  </div>
</body>