{% extends "baseadmin.html" %}
{% block nd %}

{% load static %}
<script src="{% static 'bootstrap/js/validator.min.js' %}"></script>
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <!-- Modal content-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script type="text/javascript">
        <!--function update_danhmuc(csrftoken, danh_muc_id) {-->

            <!--var tendm = $("#txttendm").val();-->
            <!--$.ajax({-->
                <!--url : "/danhmuc_sua/"+ danh_muc_id+"/",-->
                <!--type : "GET",-->
                <!--data : {'ten_chuyen_nganh': tendm},-->
                <!--beforeSend: function(xhr, settings) {-->
                     <!--xhr.setRequestHeader("X-CSRFToken", csrftoken);-->
                <!--},-->
                <!--success : function(json) {-->
                    <!--window.location.href = "danhmuc_ds";-->
                <!--},-->
                <!--error : function(xhr,errmsg,err) {-->
                    <!--console.log(xhr.status + ": " + xhr.responseText);-->
                <!--}-->
            <!--});-->
        <!--};-->
        <!--jQuery(document).ready(function() {-->
            <!--jQuery(".button").click(function(){-->
            <!--var danh_muc_id = $("#txtmadm").val();-->
            <!--var tendm = $("#txttendm").val();-->
                <!--$.ajax({-->
                <!--url : "/danhmuc_sua/"+ danh_muc_id+"/",-->
                <!--type : "POST",-->
                <!--data : { 'ma_chuyen_nganh': danh_muc_id, 'ten_chuyen_nganh': tendm},-->
                <!--beforeSend: function(xhr, settings) {-->
                     <!--xhr.setRequestHeader("X-CSRFToken", csrftoken);-->
                <!--},-->
                <!--success : function(json) {-->
                    <!--window.location.href = "danhmuc_ds";-->
                <!--},-->
                <!--error : function(xhr,errmsg,err) {-->
                    <!--console.log(xhr.status + ": " + xhr.responseText);-->
                <!--}-->
            <!--});-->
            <!--});-->
        <!--});-->
    </script>
    <div class="container" style="min-height: 600px">
        <form action="" method="post" enctype="multipart/form-data" data-ajax="false">{% csrf_token %}
        <hr>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Thêm danh mục</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Mã danh mục:</label>
                    <input type="text" name="txtmadm" id="txtmadm" value="{{danh_muc.ma_chuyen_nganh}}" readonly="False" class="form-control"></input>
                </div>
                <div class="form-group">
                    <label>Tên danh mục:</label>
                    <input type="text" name="txttendm" id="txttendm" value="{{danh_muc.ten_chuyen_nganh}}" class="form-control" data-error="Không được để trống!" />
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" name="btncapnhatdm" value="Cập nhật danh mục">
                </div>
                {% if form.errors %}
                    Co loi xay ra. {{ form.errors }}
                {% endif %}
            </div>
        </div>
        </div>
        </form>
    </div>
{% endblock %}