<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CDH | Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


  <script src="../library/bootstrap/js/jquery.min.js"></script>
  <script src="template/library/bootstrap/js/bootstrap.min.js"></script>
  <script src="template/library/bootstrap/css/html5shiv.min.js"></script>
  <script src="template/library/bootstrap/css/respond.min.js"></script>

  <link rel="stylesheet" href="../library/bootstrap/css/cs.css">
  <link rel="stylesheet" href="../library/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../library/bootstrap/css/font-awesome.min.css">
  <link rel="stylesheet" href="../library/bootstrap/css/ionicons.min.css">
  <link rel="stylesheet" href="../library/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../library/dist/css/skins/_all-skins.min.css">

</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="Home.html" class="navbar-brand"><b>Cộng Đồng Học</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li><a href="#">Giới thiệu <span class="sr-only">(current)</span></a></li>-->
            <li><a href="BaiViet.html">Bài viết tự do <span class="sr-only">(current)</span></a></li>
            <li><a href="Thanh">Thành viên <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Khóa Học <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="ds_khoahoc.html">Công nghệ web</a></li>
                <li><a href="ds_khoahoc.html">Công nghệ di động</a></li>
                <li><a href="ds_khoahoc.html">Kiểm thử phần mềm</a></li>
                <li class="divider"></li>
                <li><a href="ds_khoahoc.html">Mạng máy tính</a></li>
                <li class="divider"></li>
                <li><a href="ds_khoahoc.html">Hệ thống nhúng</a></li>
              </ul>
            </li>
            <li><a href="#">Liên hệ <span class="sr-only">(current)</span></a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group panel">
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
              <a href="#"><button class="btn"><i class="glyphicon glyphicon-search"></i></button></a>
            </div>
          </form>
        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <p>
            <h5>
              <a href="Dangky.html" class="label">Đăng kí</a>|
              <a href="Dangnhap.html" class="label">Đăng nhập</a>
            </h5>
          </p>
        </div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
  <!-- Full Width Column -->
  <div class="content-wrapper">

    <div class="container">
        <h2>Carousel Example</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="../imgs/bia.png" alt="Los Angeles" style="width:100%;">
            </div>

            <div class="item">
              <img src="../imgs/bia1.png" alt="Chicago" style="width:100%;">
            </div>

            <div class="item">
              <img src="../imgs/bia.png" alt="New york" style="width:100%;">
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row col-md-12">
            <h2><span style="box-shadow: 5px 5px 10px #888888;"> Khóa học mới </span></h2>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <div class="carousel slide media-carousel" id="media">
              <div class="carousel-inner">
                <div class="item  active">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="Khoahoc.html">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="Khoahoc.html">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="Khoahoc.html">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="Khoahoc.html">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="Khoahoc.html">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="Khoahoc.html">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="Khoahoc.html">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="Khoahoc.html">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
              <a data-slide="next" href="#media" class="right carousel-control">›</a>
            </div>
          </div>
        </div>
        <div class="row col-md-12">

            <h2><span style="box-shadow: 5px 5px 10px #888888;"> Khóa học nổi bật </span></h2>

        </div>
        <div class='row'>
          <div class='col-md-12'>
            <div class="carousel slide media-carousel" id="media">
              <div class="carousel-inner">
                <div class="item  active">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="#">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="#">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="#">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="#">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="#">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="#">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="#">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Khóa học python</a></h4>
                          <p>Tác giả: Steven</p>
                          <p>Lệ phí: 800.000 đồng</p>
                          <p>Tám trăm nghìn đồng</p>
                          <p class="pull-right btn-sm lammo phongto"><a href="#">Xem thêm</a></p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
              <a data-slide="next" href="#media" class="right carousel-control">›</a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
            <h2><span style="box-shadow: 5px 5px 10px #888888;"> Thành viên tích cực </span></h2>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <div class="carousel slide media-carousel" id="thanhvien">
              <div class="carousel-inner">
                <div class="item  active">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="box dobong panel-body">
                        <div class="col-md-6">
                          <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/400x600"></a>
                        </div>
                        <div class="col-md-6">
                        <div class="box-body">
                          <h4><a href="#">Steven</a></h4>
                          <p>Ho va ten: Nguyen Van A</p>
                          <p>Gioi tinh: nam</p>

                          <p class="pull-right btn-sm lammo phongto"><a href="#">Chi tiết</a></p>
                        </div>

                      </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box dobong panel-body">
                        <div class="col-md-6">
                          <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/400x600"></a>
                        </div>
                        <div class="col-md-6">
                        <div class="box-body">
                          <h4><a href="#">Steven</a></h4>
                          <p>Ho va ten: Nguyen Van A</p>
                          <p>Gioi tinh: nam</p>

                          <p class="pull-right btn-sm lammo phongto"><a href="#">Chi tiết</a></p>
                        </div>

                      </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box dobong panel-body">
                        <div class="col-md-6">
                          <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/400x600"></a>
                        </div>
                        <div class="col-md-6">
                        <div class="box-body">
                          <h4><a href="#">Steven</a></h4>
                          <p>Ho va ten: Nguyen Van A</p>
                          <p>Gioi tinh: nam</p>

                          <p class="pull-right btn-sm lammo phongto"><a href="#">Chi tiết</a></p>
                        </div>

                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Steven</a></h4>
                          <p>Ho va ten: Nguyen Van A</p>
                          <p>Gioi tinh: nam</p>

                          <p class="pull-right btn-sm lammo phongto"><a href="#">Chi tiết</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Steven</a></h4>
                          <p>Ho va ten: Nguyen Van A</p>
                          <p>Gioi tinh: nam</p>

                          <p class="pull-right btn-sm lammo phongto"><a href="#">Chi tiết</a></p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box dobong">
                        <a class="thumbnail" href="#"><img width="auto" alt="" src="http://placehold.it/300x200"></a>
                        <div class="box-body">
                          <h4><a href="#">Steven</a></h4>
                          <p>Ho va ten: Nguyen Van A</p>
                          <p>Gioi tinh: nam</p>

                          <p class="pull-right btn-sm lammo phongto"><a href="#">Chi tiết</a></p>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
              <a data-slide="next" href="#media" class="right carousel-control">›</a>
            </div>
          </div>
        </div>
      </div>


  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.6
      </div>
      <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
      reserved.
    </div>
    <!-- /.container -->
  </footer>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="../library/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../library/bootstrap/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../library/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../library/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../library/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../library/dist/js/demo.js"></script>
</body>
</html>
