{% extends "web/base1.html" %}
{% block nd %}

<div class="agile_inner_banner_info">
	<h2>{{ danh_muc.ten_chuyen_nganh }} </h2>
	<p></p>
</div>
<div class="services">
	<div class="container">
		<h3 class="tittle_agile_w3">Các khóa học</h3>
		<div class="heading-underline">
			<div class="h-u1"></div>
			<div class="h-u2"></div>
			<div class="h-u3"></div>
			<div class="clearfix"></div>
		</div>
		<div class="w3l-news_info_agile_its">
				{% if ds_khoa_hoc %}
					{% for khoahoc in ds_khoa_hoc %}
						<div class="w3l-news col-md-6">
							<div class="media response-info hop">
								<div class="media-left response-text-left">
									<a href="#" data-toggle="modal" data-target="#{{khoahoc.ma_khoa_hoc}}">
										<img height="200" class="media-object" src="/media/{{ khoahoc.img }}" alt="">
									</a>
									<!-- Modal1 -->
									<div class="modal fade" id="{{khoahoc.ma_khoa_hoc}}" tabindex="-1" role="dialog">
										<div class="modal-dialog">
											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4>{{khoahoc.ten_khoa_hoc}}</h4>
													<img src="/media/{{khoahoc.img}}" alt="blog-image" />
													<span>{{khoahoc.gioi_thieu}}</span>
												</div>
											</div>
										</div>
									</div>
									<!-- //Modal1 -->
								</div>
								<div class="media-body response-text-right">
									<h5>{{khoahoc.ten_khoa_hoc}}</h5>
									<ul>
										<li><i class="fa fa-calendar" aria-hidden="true"></i> 20/11/2017</li>
										</br>
										<li><i class="fa fa-users" aria-hidden="true"></i> đăng kí : 7685</li>
									</ul>
									<p><a href="#"><i class="fa fa-eyes">Giới thiệu về khóa học</i></a></p>
									<div class="read">
										<a href="../../khoahoc/{{khoahoc.ma_khoa_hoc}}" class="view resw3">Chi tiết khóa học</a>
									</div>
								</div>

							</div>

						</div>
					{% endfor %}
				{% endif %}
				<div class="clearfix"> </div>
			</div>
	</div>
</div>
<div class="services">
	<center>
	<ul class="pagination pagintion-sm">
		<div class="pagination">
			<span class="step-links">
				{% if ds_khoa_hoc.has_previous %}
					<a href="?page={{ ds_khoa_hoc.previous_page_number }}"><i class="glyphicon glyphicon-chevron-left"></i></a>
				{% endif %}
			</span>

			<span class="current">
				Trang {{ ds_khoa_hoc.number }} / {{ ds_khoa_hoc.paginator.num_pages }}
			</span>

			<span>
				{% if ds_khoa_hoc.has_next %}
					<a href="?page={{ ds_khoa_hoc.next_page_number }}"><i class="glyphicon glyphicon-chevron-right"></i></a>
				{% endif %}
			</span>
		</div>
	</ul>
	</center>
</div>
{% endblock %}

