{% extends "web/base.html" %}
{% block nd %}
{% load static %}

	<div class="banner">
		<div class="wrapper">
			<ul id="sb-slider" class="sb-slider">
				<li>
					<a href="#"><img src="{% static 'images/banner1.jpg' %}" alt="image1"/></a>
					<div class="sb-description">
						<h3>IT school nơi chia sẻ đam mê và kiến thức</h3>
					</div>
				</li>
				<li>
					<a href="#"><img src="{% static 'images/banner2.jpg' %}" alt="image2"/></a>
					<div class="sb-description">
						<h3>Hãy theo đuổi đam mê, thành công sẽ đến với bạn</h3>
					</div>
				</li>
				<li>
					<a href="#"><img src="{% static 'images/banner3.jpg' %}" alt="image1"/></a>
					<div class="sb-description">
						<h3>Những kiến thức không bao giờ là hữu hạn, chia sẻ và trau dồi</h3>
					</div>
				</li>
				<li>
					<a href="#"><img src="{% static 'images/banner4.jpg' %}" alt="image1"/></a>
					<div class="sb-description">
						<h3>Chia sẻ và nhận lại chúng ta sẽ cùng bước đến vinh quang</h3>
					</div>
				</li>

			</ul>

			<div id="shadow" class="shadow"></div>

			<div id="nav-arrows" class="nav-arrows">
				<a href="#">Next</a>
				<a href="#">Previous</a>
			</div>

			<div id="nav-dots" class="nav-dots">
				<span class="nav-dot-current"></span>
				<span></span>
				<span></span>
				<span></span>

			</div>
		</div>
		<!-- /wrapper -->
	</div>
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="mid_agile_bannner_top_info">
				<h2>Lấy kiến thức về và biến nó thành của bạn</h2>
				<div class="heading-underline">
					<div class="h-u1"></div>
					<div class="h-u2"></div>
					<div class="h-u3"></div>
					<div class="clearfix"></div>
				</div>
				<p>Bạn sẽ cảm thấy tuyệt vời khi chúng ta đồng hành cùng nhau</p>
			</div>
			<div class="col-md-6 agileits_banner_bottom_left">
				<h3>Chào mừng bạn gia nhập <span>   IT school</span></h3>
				<p class="w3l_para">Kho kiến thức bất tận, bạn đã-đang và sẽ ở đây để cùng chúng tôi phát triển nguồn tri thức cộng đồng.</p>
				<div class="w3l_social_icons">
					<div class="w3l_social_icon_grid">
						<div class="w3l_social_icon_gridl">
							<a href="#">
								<i class="fa fa-edit" aria-hidden="true"></i>
							</a>
						</div>
						<div class="w3l_social_icon_gridr">
							<p class="counter">158675</p>
						</div>
						<div class="clearfix"> </div>
						<div class="w3l_social_icon_grid_pos">
							<label>:</label>
						</div>
					</div>
					<div class="w3l_social_icon_grid w3ls_social_icon_grid">
						<div class="w3l_social_icon_gridl">
							<a href="#">
								<i class="fa fa-book" aria-hidden="true"></i>
							</a>
						</div>
						<div class="w3l_social_icon_gridr">
							<p class="counter">713,676</p>
						</div>
						<div class="clearfix"> </div>
						<div class="w3l_social_icon_grid_pos">
							<label>:</label>
						</div>
					</div>
					<div class="w3l_social_icon_grid">
						<div class="w3l_social_icon_gridl">
							<a href="#">
								<i class="fa fa-address-book" aria-hidden="true"></i>
							</a>
						</div>
						<div class="w3l_social_icon_gridr">
							<p class="counter">845,342</p>
						</div>
						<div class="clearfix"> </div>
						<div class="w3l_social_icon_grid_pos">
							<label>:</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 agileits_banner_bottom_right">
				<div class="w3ls_banner_bottom_right">
					<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />
					<div class="w3ls_banner_bottom_right_pos">
						<img src="{% static 'images/1.jpg' %}" alt=" " class="img-responsive" />
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<div class="skills">
		<div class="container">
			<h3 class="tittle_agile_w3">Các chuyên ngành hiện tại</h3>
			<div class="heading-underline">
				<div class="h-u1"></div>
				<div class="h-u2"></div>
				<div class="h-u3"></div>
				<div class="clearfix"></div>
			</div>
			<div class="why-choose-agile-grids-top">
				{% if ds_chuyen_nganh %}
				<div class="col-md-12 agileits-w3layouts-grid">
					<div class="col-md-6 agileits_banner_bottom_right">

						<div class="col-md-12">
							<div class="col-md-6">
								<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />
							</div>
							<div class="col-md-6 w3ls_banner_bottom_right">
								<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />
								<div class="w3ls_banner_bottom_right_pos">
									<img src="{% static 'images/1.jpg' %}" alt=" " class="img-responsive" />
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-6">
									<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />
								</div>
								<div class="col-md-6">
									</br>
									</br>
									<h1><span>Information</span></h1>
								</div>
							</div>
							<div class="col-md-12">
							<div class="col-md-6">
								<div class="">
									</br>
									</br>
									<h1><span>Technology</span></h1>
								</div>
							</div>
							<div class="col-md-6 w3ls_banner_bottom_right">
								<div class="">
									<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />
									<div class="w3ls_banner_bottom_right_pos">
										<!--<img src="{% static 'images/1.jpg' %}" alt=" " class="img-responsive" />-->
									</div>
								</div>
							</div>
						</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-6">
								<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />
							</div>
							<div class="col-md-6 w3ls_banner_bottom_right">
								<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />
								<div class="w3ls_banner_bottom_right_pos">
									<img src="{% static 'images/1.jpg' %}" alt=" " class="img-responsive" />
								</div>
							</div>
						</div>

					</div>
					<div class="w3l_social_icons col-md-6">
						<div class="w3l_social_icon_gridl w3_facebook">
							<i class="fa fa-globe" aria-hidden="true"></i>
						</div>
						<div class="w3l_social_icon_gridl w3_facebook">
							<i class="fa fa-mobile" aria-hidden="true"></i>
						</div>
						<div class="w3l_social_icon_gridl w3_facebook">
							<i class="fa fa-bug" aria-hidden="true"></i>
						</div>
						<div class="w3l_social_icon_gridl w3_facebook">
							<!--<i class="fa fa-wifi" aria-hidden="true"></i>-->
							<i class="fa fa-rss" aria-hidden="true"></i>
						</div>
						<div class="w3l_social_icon_gridl w3_facebook">
							<!--<i class="fa fa-wrench" aria-hidden="true"></i>-->
							<i class="fa fa-tv" aria-hidden="true"></i>
						</div>
						<div class="clearfix"> </div>
						{% for chuyen_nganh in ds_chuyen_nganh %}
							<div class="w3l_social_icon_grid w3ls_social_icon_grid">
								<div class="w3l_social_icon_gridl w3_facebook">
									<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								</div>

								<div class="w3l_social_icon_grid_pos">
									<h3><a href="../danhmuc/{{chuyen_nganh.ma_chuyen_nganh}}">{{chuyen_nganh.ten_chuyen_nganh}}</a></h3>
								</div>
								<div class="clearfix"> </div>
							</div>
						{% endfor %}

							<h1><span>CHOOL</span></h1>

					</div>

				</div>
				{% endif %}
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- choose-us -->
	
	</div>
	<!-- //choose-us -->

	<!-- News -->
	<div class="w3l-news-content events">
		<div class="container">
			<h3 class="tittle_agile_w3">Các khóa học</h3>
			<div class="heading-underline">
				<div class="h-u1"></div>
				<div class="h-u2"></div>
				<div class="h-u3"></div>
				<div class="clearfix"></div>
			</div>
			<div class="w3l-news_info_agile_its">
				{% if ds_khoa_hoc %}
					{% for khoahoc in ds_khoa_hoc %}
					<div class="w3l-news col-md-6">
						<div class="media response-info box">
							<div class="media-left response-text-left">
								<a href="#" data-toggle="modal" data-target="#{{khoahoc.ma_khoa_hoc}}">
									<img class="media-object" src="/media/{{ khoahoc.img }}" alt="">
								</a>
								<!-- Modal1 -->
								<div class="modal fade" id="{{khoahoc.ma_khoa_hoc}}" tabindex="-1" role="dialog">
									<div class="modal-dialog">
										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4>{{khoahoc.ten_khoa_hoc}}</h4>
												<img src="/media/{{khoahoc.img}}" alt="blog-image" />
												<span>{{khoahoc.gioi_thieu}}</span>
											</div>
										</div>
									</div>
								</div>
								<!-- //Modal1 -->
							</div>
							<div class="media-body response-text-right">
								<h5>{{khoahoc.ten_khoa_hoc}}</h5>
								<ul>
									<li><i class="fa fa-calendar" aria-hidden="true"></i> 20/11/2017</li>
									</br>
									<li><i class="fa fa-users" aria-hidden="true"></i> đăng kí : 7685</li>
								</ul>
								<p><a href="#"><i class="fa fa-eyes">Giới thiệu về khóa học</i></a></p>
								<div class="read">
									<a href="../khoahoc/{{khoahoc.ma_khoa_hoc}}" class="view resw3">Chi tiết khóa học</a>
								</div>
							</div>

						</div>
						<hr>
					</div>
					{% endfor %}
				{% endif %}
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- Modal1 -->
	<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog">-->
		<!--<div class="modal-dialog">-->
			<!--&lt;!&ndash; Modal content&ndash;&gt;-->
			<!--<div class="modal-content">-->
				<!--<div class="modal-header">-->
					<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
					<!--<h4>Treasurer</h4>-->
					<!--<img src="/media/upload/2.jpg" alt="blog-image" />-->
					<!--<span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!-- //Modal1 -->
	<!-- //News -->

{%endblock%}

